body {
    background-color: #30336b; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 18px;
}

p {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 4rem; 
    align-self: center;
    opacity: 0.8;
}
.search-container button#searchBtn {
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-left: -53px;
    border: none;
}

.material-icons {
    cursor: pointer; 
    font-size: 20px;
    color: #ff7979;
}

#message {
   padding-top: 1rem;
   color: white;
}

.randomBtn {
    cursor: pointer; 
    padding-top: 5px;
}

#inputKey {
    width: 300px;
    height: 50px;
    padding-left: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

li {
    background-color: #f8f8f8da;
    padding-bottom: 15px;
    color: #30336b; 
}

li p, div {
    padding-left: 20px;
    padding-right: 20px;
}

li p {
    padding-top: 15px;   
}

li:hover {
    border-left: 8px solid #ff7979;
    margin-left: -5px;
}
li:hover p {
    color: #ff7979;
}

a {
    color: #ff7979;
}

ul {
    list-style-type: none;
}

#messageQuery, #message {
    color: #e6e6e6;
}