body {
    background-color: #ced0ec; 
    color: #30336b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 18px;
}

p {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 4rem; 
    align-self: center;
}
.search-container button#searchBtn {
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-left: -53px;
    border: none;
}

.material-icons {
    cursor: pointer; 
    font-size: 20px;
}

#message {
   padding-top: 1rem;
}

.randomBtn {
    cursor: pointer; 
    padding-top: 5px;
}

#inputKey {
    width: 300px;
    height: 50px;
    padding-left: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}