<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WikiApp</title>
    <meta name="viewport" content="width = device-width, minimum-scale = 1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<body>

<div ng-app="wikiApp" ng-controller="wikiAppController">

  <input type="text" ng-model='searchKey'>
  <button ng-click="search()">ok</button>
  
  <ul>
    <li ng-repeat="result in results">
        <p>Title : {{result.title}}</p>
        <p>{{result.description}}</p>
    </li>
  </ul>

</div>


<script src="wikiAppController.js"></script>
</body>
</html>

